<h2 class="ui center aligned icon header">
  <i class="circular violet comments outline icon"></i>
  Message Me
</h2>

<div class="ui two column grid">
    
    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui vertical text menu">
                    <div class="header item">Title Menu</div>
                    <a class="active item">
                        Closest
                    </a>
                    <a class="item">
                        Most Comments
                    </a>
                    <a class="item">
                        Most Popular
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui feed">
                    <div class="event">
                        <div class="content">
                        <div class="summary">
                            <em>Helen Troy</em>: Some message
                        </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                        <div class="summary">
                            <a>Christian Rocha</a> signed up for the  site.
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Enter a message">
                            <i class="bordered inverted violet pencil alternate icon"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>