<div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item"%>
    <a class="item">
    Messages
    </a>
    <div class="ui simple dropdown item">
        Friends
        <i class="dropdown icon"></i>
        <div class="menu">
        <div class="item">Add Friends</div>
        <div class="item">All Friends</div>
        <div class="item">Online Friends</div>
        </div>
    </div>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
            </div>
        </div>
        <% if !logged_in? %>
            <%= link_to "Login", login_path, class:"ui item"%>
        <% else %>
            <%= link_to "Logout", logout_path, method: :delete, class: "ui item"%>    
        <% end %>
        <% if !logged_in? %>
            <div class="item">
                <%= link_to "Sign Up!", login_path, class: "ui inverted violet button"%>
            </div>
        <% end %>        
    </div>
</div>